/* pages/home/home.wxss */
//选择只属于.box的一级子元素，eg: div.box>div
canvas {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(202, 202, 202, 0.164);
    border-radius: 10rpx;
    margin-bottom: 10rpx;
}

.page {
    padding: 16rpx;
    padding-bottom: 118px;
    box-sizing: border-box;
    height: max-content;
    background: #e9e9e960;

    .box {
        background: white;
        margin-bottom: 20rpx;
        border-radius: 10rpx;
    }

    .workBefore {
        font-size: 24px;
        font-weight: bold;
        color: rgb(153, 153, 153);
        padding-left: 30rpx;
        padding-top: 15rpx;
    }

    .pl-32 {
        padding-left: 32rpx;
    }

    .ml-32 {
        margin-left: 32rpx;
    }

    .pt-20 {
        padding-top: 20rpx;
    }

    .mt-20 {
        margin-top: 20rpx;
    }

    .pb-20 {
        padding-bottom: 20rpx;
    }

    .t-input__control {
        height: 2rem;
    }

    .t-input--size-small {
        padding-top: 12rpx;
        padding-bottom: 12rpx;
    }

    .t-checkbox-padding {
        width: 100%;
    }

    .t-checkbox {
        padding: 10rpx 0 10rpx 12rpx;
        width: 100%;
    }

    .t-input__label,
    .t-input__wrap,
    .t-input__wrap--suffix {
        display: flex;
        align-items: center;

        view {
            display: flex;
            align-items: center;
        }
    }

    .wrapper {
        padding: 0 30rpx;
        padding-top: 20rpx;

        .text {
            padding-top: 4px;
            padding-bottom: 28rpx;
        }

        .main {
            display: flex;
            flex-direction: column;
            background-color: #fff;
        }

        .content {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eee;
            border: 1px dashed #ddd;
            border-radius: 4px;
        }

        .selectImgArr {
            display: flex;
            flex-wrap: wrap;
        }

        .selectImg {
            position: relative;
            margin-right: 12rpx;
            padding: 4rpx;
            border: 1px solid #f3f3f3;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .selectImg .img {
            width: 80px;
            height: 80px;
            border-radius: 4px;
            overflow: hidden;
            object-fit: contain;
        }

        .deleteBox {
            position: absolute;
            top: 0rpx;
            left: 60px;
            width: 40rpx;
            height: 40rpx;
            line-height: 40rpx;
            text-align: center;
            border-radius: 50%;
            background-color: #a59f99;
        }

        .deleteBtn {
            color: #fff;
        }
    }
}

.pannel-item {
    display: flex;
    align-items: center;
    height: 96rpx;
    padding: 0 12rpx;
    // font-size: 32rpx;
    // margin-bottom: 32rpx;
    background-color: #fff;

    .switch-text-left {
        color: rgb(153, 153, 153);
        font-weight: bold;
        padding-right: 6px;
    }

    .switch-text-right {
        color: rgb(153, 153, 153);
        font-weight: bold;
        padding-left: 6px;
    }
}

.t-cell__title-text {
    // padding: 0px;
    font-size: 16px;
}

.pannel-item .last {
    margin-bottom: -13rpx;
}

.pannel-label {
    width: 200rpx;
    padding-left: 20rpx;
    // margin-right: 32rpx;
}

.pannel-text {
    flex: 1;
    color: #000;
    opacity: 0.9;
    text-align: right;
}

.pannel-text.empty {
    opacity: 0.26;
}