/* pages/login/login.wxss */
.page {
    background: #2b5cab;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    .logo {
        width: 150px;
        height: 150px;
        padding: 100rpx 0;
        
        .logoImage {
            width: 100%;
            height: 100%;
            background: white;
            border-radius: 100%;
            border:none;
        }

    }

    .loginBox {
        height: 300rpx;
        width: 70%;
        background: white;
        padding: 30rpx 25rpx;
        border-radius: 20rpx;
        box-shadow: 0 0 10px 10px #2b5cab33;

        .external-class {
            margin-top: 32rpx;
        }
    }
}