.page {
    padding: 16rpx;
    padding-bottom: 118px;
    box-sizing: border-box;
    height: max-content;
    min-height: 100vh;
    background: #e9e9e960;

    .workBefore {
        font-size: 24px;
        font-weight: bold;
        color: rgb(153, 153, 153);
        padding-left: 12rpx;
        padding-top: 8rpx;
        padding-bottom: 8rpx;
    }
}
image {
    width: 100%;
    background: white;
}
canvas {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(202, 202, 202, 0.164);
    border-radius: 10rpx;
    margin-bottom: 10rpx;
    background: white;
}

.t-button {
    width: 300rpx;
}
